<!DOCTYPE html>
<html>
<head>
<title>iPhoneなくした時用のページ</title>
</head>
<body>
<form action="/findmyiphone" method="POST">
本人認証: <input type="checkbox" name="auth" value="1">私はぷりんたいです
<input type="submit" value="iPhoneから音を鳴らす">
</form>
</body>
</html>
